In [1]:
import pandas as pd

In [15]:
for i in range(10):
    df1 = pd.read_csv("data/multiplication/instruction_type-1/prompt_type-1/multiply.csv")
    df2 = pd.read_csv(f"results/multiplication/instruction_type-1/prompt_type-1/multiply/google/flan-t5-large/experiment-{i + 1}.csv")
    data1 = pd.concat([df1,df2["prediction"]], axis = 1)
    data1.to_csv(f"results/multiplication/instruction_type-1/prompt_type-1/multiply/google/flan-t5-large/experiment-{i + 1}.csv", index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'results/multiplication/instruction_type-1/prompt_type-1/multiply/google/flan-t5-large/experiment-10.csv'

In [12]:
data1

,instruction,example,question,answer,prediction
0,Multiply two numbers.,6 * 6 = 36,0 * 0 =,0,12
1,Multiply two numbers.,6 * 6 = 36,0 * 1 =,0,2
2,Multiply two numbers.,6 * 6 = 36,0 * 2 =,0,-6
3,Multiply two numbers.,6 * 6 = 36,0 * 3 =,0,-4
4,Multiply two numbers.,6 * 6 = 36,0 * 4 =,0,-4
...,...,...,...,...,...
64995,Multiply two numbers.,30939 * 39753 = 1229918067,82234 * 66020 =,5429088680,-6261
64996,Multiply two numbers.,30939 * 39753 = 1229918067,92267 * 93525 =,8629271175,-5855
64997,Multiply two numbers.,30939 * 39753 = 1229918067,94888 * 95553 =,9066833064,-5675
64998,Multiply two numbers.,30939 * 39753 = 1229918067,93073 * 29876 =,2780648948,-7495
64999,Multiply two numbers.,30939 * 39753 = 1229918067,21744 * 67806 =,1474373664,-6261

In [5]:
df1

,instruction,example,question,answer
0,Multiply two numbers.,6 * 6 = 36,0 * 0 =,0
1,Multiply two numbers.,6 * 6 = 36,0 * 1 =,0
2,Multiply two numbers.,6 * 6 = 36,0 * 2 =,0
3,Multiply two numbers.,6 * 6 = 36,0 * 3 =,0
4,Multiply two numbers.,6 * 6 = 36,0 * 4 =,0
...,...,...,...,...
64995,Multiply two numbers.,30939 * 39753 = 1229918067,82234 * 66020 =,5429088680
64996,Multiply two numbers.,30939 * 39753 = 1229918067,92267 * 93525 =,8629271175
64997,Multiply two numbers.,30939 * 39753 = 1229918067,94888 * 95553 =,9066833064
64998,Multiply two numbers.,30939 * 39753 = 1229918067,93073 * 29876 =,2780648948
64999,Multiply two numbers.,30939 * 39753 = 1229918067,21744 * 67806 =,1474373664

In [7]:
df2

,instruction,example,question,answer,prediction
0,Multiply two numbers.,6 * 6 = 36,0 * 0 =,0 * 0 =,12
1,Multiply two numbers.,6 * 6 = 36,0 * 1 =,0 * 1 =,2
2,Multiply two numbers.,6 * 6 = 36,0 * 2 =,0 * 2 =,-6
3,Multiply two numbers.,6 * 6 = 36,0 * 3 =,0 * 3 =,-4
4,Multiply two numbers.,6 * 6 = 36,0 * 4 =,0 * 4 =,-4
...,...,...,...,...,...
64995,Multiply two numbers.,30939 * 39753 = 1229918067,82234 * 66020 =,5429088680,-6261
64996,Multiply two numbers.,30939 * 39753 = 1229918067,92267 * 93525 =,8629271175,-5855
64997,Multiply two numbers.,30939 * 39753 = 1229918067,94888 * 95553 =,9066833064,-5675
64998,Multiply two numbers.,30939 * 39753 = 1229918067,93073 * 29876 =,2780648948,-7495
64999,Multiply two numbers.,30939 * 39753 = 1229918067,21744 * 67806 =,1474373664,-6261

In [11]:
for i in range(10):
    df = pd.read_csv(f"../results/multiplication/instruction_type-1/prompt_type-1/multiply/google/flan-t5-small/experiment-{i + 1}.csv")
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    df.to_csv(f"../results/multiplication/instruction_type-1/prompt_type-1/multiply/google/flan-t5-small/experiment-{i + 1}.csv", index=False)

In [6]:
df = pd.read_csv(f"../results/multiplication/instruction_type-1/prompt_type-1/multiply/google/flan-t5-large/experiment-{1}.csv")
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [7]:
df

,instruction,example,question,answer,prediction
0,Multiply two numbers.,6 * 6 = 36,0 * 0 =,0,0
1,Multiply two numbers.,6 * 6 = 36,0 * 1 =,0,-3
2,Multiply two numbers.,6 * 6 = 36,0 * 2 =,0,-4
3,Multiply two numbers.,6 * 6 = 36,0 * 3 =,0,-3
4,Multiply two numbers.,6 * 6 = 36,0 * 4 =,0,-4
...,...,...,...,...,...
64995,Multiply two numbers.,30939 * 39753 = 1229918067,82234 * 66020 =,5429088680,10876
64996,Multiply two numbers.,30939 * 39753 = 1229918067,92267 * 93525 =,8629271175,-5825
64997,Multiply two numbers.,30939 * 39753 = 1229918067,94888 * 95553 =,9066833064,-3662
64998,Multiply two numbers.,30939 * 39753 = 1229918067,93073 * 29876 =,2780648948,10883
64999,Multiply two numbers.,30939 * 39753 = 1229918067,21744 * 67806 =,1474373664,-8064